.link_to {
  color: white;
  text-decoration: none;
  position: absolute;
  &:hover {
    color: #DB5461;
    text-decoration: none;
  }
}

.btn_booking {
  background-color: #DB5461;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin: 3px;
  &:hover {
    color: #a03741;
    text-decoration: none;
  }
}

.layout_btn {
  margin-top: 15px;
}


.demand {
  margin-top: 15px;
  background-color: white;
  padding: 20px;
}


.title-show {
    margin: 0 auto;
    width: fit-content;
    font-size: 28px;
    color: black;
    letter-spacing: 2px;
}
