.link_to {
  color: white;
  text-decoration: none;
  &:hover {
    color: #DB5461;
    text-decoration: none;
  }
}

.btn_booking {
  background-color: #DB5461;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  padding: 10px;
  &:hover {
    color: #a03741;
    text-decoration: none;
  }
}

.layout_btn {
  margin-top: 15px;
}
