


.description {
  grid-column: 2;
  grid-row: 1 / 5;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 6px -1px 15px 5px rgba(107,107,107,0.3);
  padding: 20px;
  margin-top: 50px;
}

.show_layout {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 50px;
}

.custom-container {
  background-color: white;
  border-radius: 4px;
  box-shadow: 6px 4px 15px 3px rgba(105,105,105,0.91);
  width: 370px;
  height: 250px;
  grid-column: 2;
}

.simple_form {
  grid-column: 3;
}

.btn_destroy > a {
  position: absolute;
  right: 1px;
  background-color: #E94759;
  color: white;
  text-decoration: none;
  padding: 10px ​50px;
  padding: 10px 50px;
  border-radius: 8px;
  &:hover {
    color: #a03741;
    text-decoration: none;
  }
}

.container {
  position: relative;
}
