.main_container {
  margin : 35px 20px 0px 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}


.description {
  grid-column: 2;
  grid-row: 1 / 5;
  background-color: rgb(255, 255, 255);
  border-radius: 4px;
  box-shadow: 3px -1px 15px 5px rgba(107,107,107,0.3);
  padding: 20px;
}


.galery_pictures {
  grid-column: 1;
  grid-row: 1/2;
  height: 450px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
}

.calendar {
  grid-column: 1/2;
  grid-row: 2/5;
  background-color: rgb(146, 146, 146);
}

.item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}


.description > h2 {
  font-weight: bold;
  font-size: 15px;
}

.description > h3 {
  font-weight: lighter;
  font-size: 20px;
  text-align: justify;
}

.calendar img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}
