<div class="banner">
  <header style="background-color: rgba(0,0,0,0.0);">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="logo du wagon" class="logo-wagon">
    <nav>
      <ul class="nav-content">
        <li><%= link_to('Cars', cars_path) %></li>
        <li><%= link_to('Add a car', new_car_path)  %></li>
        <li><%= link_to('My cars', allmycars_path)  %></li>
      </ul>
    </nav>
    <a href="#" class="btn-login">Login</a>
  </header>

  <div class="slider" style= "background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://storage.googleapis.com/benzin/lead/original/img_618da287d3b6a.jpg)";>
    <div class="slider-content">
      <h1>Fiat 500 F "8 bulloni"-1965</h1>
      <p>350€/jour</p>
    </div>
  </div>
</div>



<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p></h1>
