<div class="navbar-custom">
  <div class="navbar-content">
  <p>LOGO</p>
    <div class="navbar-menu">
      <p>Cars</p>
      <p>Bookings</p>
      <p>Became an owner</p>
    </div>
  <p>LOGIN</p>
  </div>
</div>


<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p></h1>
