<div class="banner">
  <header style="background-color: rgba(0,0,0,0.0);">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/logo.png" alt="logo du wagon" class="logo-wagon">
    <nav>
      <ul class="nav-content">
        <li><%= link_to('Cars', cars_path) %></li>
        <li><%= link_to('Add a car', new_car_path)  %></li>
        <li><%= link_to('My cars', allmycars_path)  %></li>
      </ul>
    </nav>
    <a href="#" class="btn-login">Login</a>
  </header>

  <div class="swiper mySwiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1529638399812-21aa61f8b2da?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)";>
        <div class="swiper-slide-content">
          <h1>Louer une collection</h1>
          <a href="#" class="btn-shop">Disponible</a>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1542282088-72c9c27ed0cd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1932&q=80)";>
         <div class="swiper-slide-content">
          <h1>Louer une sportive</h1>
          <a href="#" class="btn-shop">Disponible</a>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1507242541385-02de954f97e0?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)";>
         <div class="swiper-slide-content">
          <h1>Louer un Off-Road</h1>
          <a href="#" class="btn-shop">Disponible</a>
        </div>
      </div>
      <div class="swiper-slide" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://images.unsplash.com/photo-1508357941501-0924cf312bbd?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80)";>
         <div class="swiper-slide-content">
          <h1>Louer une moto</h1>
          <a href="#" class="btn-shop">Disponible</a>
        </div>
      </div>
    </div>
    <%# <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div> %>
    <div class="swiper-pagination"></div>
  </div>

</div>
