.logo-wagon {
  width: 40px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  position: sticky;
  z-index: 1;
  top: 0px;
}

.nav-content {
  list-style: none;
  margin: 0;
  li {
    display: inline-block;
    padding: 0 15px;
    text-transform: uppercase;
    a {
      text-decoration: none;
      color: white;
      &:hover {
        color: #44cf6c;
      }
    }
  }
}
