.slider {
  width: 85%;
  height: 75%;
  margin: 50px auto;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
  box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.4);
  position: relative;
  padding: 25px;
}


.slider-content {
  color: white;
  width: 40%;
  position: absolute;
  bottom: 25px;
  p {
    font-size: 22px;
  }
}
