.swiper {
  width: 85%;
  height: 75%;
  margin: 50px auto;
  border-radius: 15px;
  position: relative;
  box-shadow: 2px 2px 15px rgba($color: #000000, $alpha: 0.4);
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  background-size: cover;
  background-position: center;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

// .swiper-slide img {
//   display: block;
//   width: 100%;
//   height: 100%;
//   object-fit: cover;
// }

.swiper {
  margin-left: auto;
  margin-right: auto;
}



.swiper-slide-content {
  color: white;
  letter-spacing: 2px;
  width: 40%;
  position: absolute;
  bottom: 45px;
  left: 10px;
  p {
    font-size: 22px;
  }
}


.swiper-button-next {
  color: #E94759 !important;
  margin-right: 15px;
}

.swiper-button-prev {
  color: #E94759 !important;
  margin-left: 15px;
}

.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #E94759 !important;
}
