<div class = "banner">
  <div class="my-custom-container py-5">
    <div class="container-form">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <h2 class="text-justify font-weight-bold mt-3">EDIT</h2>
          <%= render "form", car: @cars %>
        </div>
      </div>
    </div>
  </div>
</div>
